<footer class="pt-10 pr-5 pb-24 pl-5 text-center bg-mauve-2 text-accent-12 mt-auto shadow-inner">
  &copy; {new Date().getFullYear()} pr.dev. All rights reserved.
  <div class="flex items-center gap-5 mt-5"></div>
</footer>
